snippet javaBox box 
	\begin{lstlisting}[language = Java , frame = trBL , firstnumber = last , escapeinside={(*@}{@*)}]
	$1
	\end{lstlisting}
	$0

snippet etal etal 
	\etal

snippet tx text
	\text{$1}$0
